{% extends "view_topapplication.html" %} 

{% block pagecontent %}  

{% include 'message.html' %}
<div class="container">


      <h1>Add Task</h1>

      <div class="row contact_box">
      
        <div class="col-12 col-md-5">
          {% include 'message.html' %}
          <h2 class="fs20"></h2>
          <form action="{{ BASE_URL }}addtask/" method="POST" >
            {% csrf_token %}  
          <div class="contact_form_cont">
            <p class="gray fs16 mt-1">Just Fill the Below Information:</p>
            <fieldset class="contact_form mt-2" style="border: none">
              <div class="mt-1">{{ form.title }} <span class="red">{{ form.title.errors|striptags }}</span></div>

              <div class="mt-1">{{form.description}} <span class="red">{{ form.description.errors|striptags }}</span></div>

             <div class="mt-2">
                <input
                  name="input"
                  type="submit"
                  value="Submit"
                  class="btn btn-info btn-md radius-3"                 
                />
                <input
                  name="input"
                  type="reset"
                  value="Reset"
                  class="btn btn-default btn-md radius-3 ml3"
                />
              </div>
            </fieldset>
          </div>
          </form>
        </div>
    
  
</div>

{% endblock %}
