<!-- commons/change-password.html -->
{% extends "view_topapplication.html" %}
{% block pagecontent %}
   
<!-- Breadcrumb --> 
<div class="breadcrumb_outer">
    <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.htm">Home</a></li>
      <li class="breadcrumb-item"><a href="myaccount.htm">My Account</a></li>
      <li class="breadcrumb-item active">My Profile</li>
    </ol>
    </div>
    </div>
    <!-- Breadcrumb End -->
    
    {% include 'myaccount_tab.html' %}
    
    <!-- MIDDLE STARTS -->
    <div class="container">
    <div class="cms">
    <div class="row">
    <div class="col-12 no_pad">
     
    <div>
    <h1>My Profile</h1> 
    
    <div class="row">  
        {% include 'message.html' %} 
    <div class="col-lg-6 no_pad">
    
 
    <form class="form-horizontal acc_forms" method="post">
        {% csrf_token %}
    <fieldset class="mt-5" style="border:0;">
    <p class="fs16">Change Password</p>
    <div class="form-row">
    <div class="form-group col-md-6">
    <input type="password" name="old_password" class="question" id="first_nme" required autocomplete="off">
    <label for="first_nme"><span>Old Password</span></label>
    </div>
    <div class="form-group col-md-6">
    <input type="password" name="new_password1" class="question" id="new_password1" required autocomplete="off">
    <label for="last_nme"><span>New Password</span></label>
    </div>
    <div class="form-group col-md-6">
    <input type="password" name="new_password2" class="question" id="new_password2" required autocomplete="off">
    <label for="phone"><span>Confirm Password</span></label>
    </div>
    </div>
    <div class="mt-2">
    <input name="register_me" type="submit" value="Update" class="btn btn-green mr-1">
    </div>
    </fieldset>
    </form>
     
    </div>
    </div>    
            
    </div>	
    </div>
      
    </div>
    </div>
    </div>
    <!-- MIDDLE ENDS -->

{% endblock pagecontent %}