
<!-- middle ends --><!-- #BeginLibraryItem "/Library/login_btm.lbi" --><div class="login_foot">
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 gray fs13">Copyright © 2021, Fast Fuel. All Rights Reserved</div>
          <div class="col-12 col-md-6 gray fs13 text-right"> <a href="{{ BASE_URL }}" title="Home">Home</a> <b class="ml5 mr5">/</b> <a href="{{ BASE_URL }}privacy-policy" title="Privacy Policy">Privacy Policy</a> <b class="ml5 mr5">/</b> <a href="{{ BASE_URL }}terms-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a> <b class="ml5 mr5">/</b> <a href="{{ BASE_URL }}sitemap" title="Sitemap">Sitemap</a> </div>
        </div>
      </div>
    </div><!-- #EndLibraryItem --><!-- FOOTER ENDS --> 
    <script type="text/javascript">var Page='';</script>  
    <script type="text/javascript" src="{{THEME_URL}}Scripts/script.int.dg.js"></script>
    