{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fast Fuel</title>
    <link rel="shortcut icon" href="{{ BASE_URL }}favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ THEME_URL }}css/conditional.css" />
    <link rel="stylesheet" href="{{ THEME_URL }}developers/css/proj.css" />
    <script type="text/javascript">
      var site_url = "{{ BASE_URL }}";
    </script>
    <script type="text/javascript">
      var resource_url = "{{ THEME_URL }}";
    </script>

    <!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src=//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>

  <body style="padding: 0">
    <div class="mid_area">
      {% include 'message.html' %}
      <div class="popup_w">
        <h1>Forgot</h1>
        <div class="form-row">
          <div class="mid_area">
            <form action="{{ BASE_URL }}forget_password/" method="POST">
              {% csrf_token %}
              <div class="form-group col-12">
                {{ form.email }}
                <span class="red">{{ form.email.errors|striptags }}</span>
              </div>

              <p class="col-12">
                <input
                  name="input"
                  type="submit"
                  value="Submit"
                  class="btn btn-info trans_eff radius-3"
                />
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
