<!-- commons/change-password.html -->
{% extends "view_topapplication.html" %} 
{% block pagecontent %}
{% include "inner_banner_header.html" %}

<div class="container red">
  {% include 'message.html' %}
  <div class="mid_area">
    <div class="cms_area">
      <h2>Reset Password</h2>
      <h3>Enter your new password</h3>
      <fieldset class="contact_form mt-2" style="border: none"></fieldset>
      <form class="form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="form-group row">
          <label class="control-label col-md-4" for="customer_name">New password : <span class="red">*</span></label>
          <div ><input type="password" class="form-control" name="new_password1" id="new_password1"></div>
         
        </div>
        <div class="red text-center">{{form.new_password1.errors|striptags}}</div>
          <div class="form-group row">
          <label class="control-label col-md-4" >Confirm New password : <span class="red">*</span></label>
          <div ><input type="password" class="form-control" name="new_password2" id="new_password2"></div>
         
        </div>
        <div class="red text-center">{{form.new_password2.errors|striptags}}</div>
        <div class="form-group row">
          <div class="col-md-8 offset-md-4">         
          <input type="submit" class="btn btn-info btn-md radius-3" value="Change Password">
          
          </div>
          </div>    
        
      </form>
</fieldset>
    </div>
  </div>
</div>
{% endblock pagecontent %}
