{% extends "view_topapplication.html" %} 
{% block pagecontent %} 
{% include "inner_banner_header.html" %}
<nav aria-label="breadcrumb" class="breadcrumb_bg">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ BASE_URL }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
  </div>
</nav>
<div class="clearfix"></div>
<div class="container">
  <div class="mid_area">
    <div class="cms_area">
      <br /><br />
      <div class="fs14 text-center mt10">
       
        <p class="mt-2 fs16 weight600">
          Hurray! Your password has been changed.
        </p>
        <p class="mt-2">
          <a href="{% url 'login' %}" class="btn btn-danger btn-mdradius-3"
            >Click here to Login</a
          >
        </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock pagecontent %}

